/* Highlight allowed restricted dates */
.allowed-date {
  background-color: #ffd700 !important; /* golden color */
  color: black !important;
  border-radius: 50% !important;
  font-weight: bold;
}
.react-datepicker {
  width: 100% !important;
}

.react-datepicker__month-container {
  width: 100% !important;
}

.react-datepicker__month {
  width: 100% !important;
}

.react-datepicker__day {
  flex: 1;
  text-align: center;
}

.react-datepicker__day-names {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr) !important;
    text-align: center;
}

.react-datepicker__week {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr) !important;
    text-align: center;
}


